.contenedor-imagenes{
    justify-content: center;
    justify-content: space-between;
    width: 400px;
    height: 300px;
    gap: 40px;
    padding: 50px;
}

.between{
    display: flex;
    justify-content: space-between;
}

.barra{
    border: 5px solid blue;
    width: 1700px;
    padding-left: 80px;
    padding-right: 80px;
}

.centrar{
    display: flex;
    align-items: center;
}

.menu{
    font-size: 40px;
    gap: 60px;
    justify-content: space-around;
}
.menu li{
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: blue;
}

.flex{
    display: flex;
}

 