/* Imagenes */
img {

    text-align: middle;
    padding: 50px;
    width: 200px;

}

/* Fisiologia general */
body{

    background-color: rgb(252, 252, 181);

}


/* Interactivos */
.button {

    padding: 8px 24px;
    color: rgb(255, 0, 0);
    background-color: rgba(238, 250, 0, 0.941);
    display: inline-block;
    border-radius: 200px;
    
}

/* Maquillaje de los botones */
.Inicio{

    padding: 8px 24px;
    color: rgb(255, 0, 0);
    background-color: rgba(238, 250, 0, 0.941);
    display: inline-block;
    border-radius: 200px;

}

/* Clases */


.City{
    text-align: center;
}

.PSG{
    text-align: center;
}

.Liverpool{
    text-align: center;
}

.Fast{
    display: flex;
    justify-content: space-between;
    border-style: solid;
    font-size: 30px;
}


/* Palabras */

h2{

font-size: 40x;

}